<section class="imagebg parallax" data-scrim-top="9">
    <div class="background-image-holder">
        <img alt="background" src="assets/img/education-3.jpg" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="cta">
                    <h2>Applications are now open</h2>
                    <p class="lead">
                        We're now taking enrolments for Semester 1 &mdash; 2017. Stack graduates are 40% more likely to find ongoing work in their chosen profession.
                    </p>
                    <a class="btn btn--primary type--uppercase" href="#">
                                    <span class="btn__text">
                                        Apply Now for 2017
                                    </span>
                    </a>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
