<section id="reception" class="cover height-80 imagebg text-center parallax" data-overlay="3">
    <div class="background-image-holder">
        <img alt="background" src="assets/img/wedding-4.jpg" />
    </div>
    <div class="container pos-vertical-center">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    The Reception
                </h1>
                <p class="lead">
                    October 29th 2017 &bull; 4:30pm
                    <br /> Merri Family Yacht
                    <br /> 12 Brents Pier, Mornington
                </p>
                <a class="btn btn--primary type--uppercase" href="#">
                                <span class="btn__text">
                                    Directions
                                </span>
                </a>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
