<section id="about" class="switchable switchable--switch parallax imagebg height-100" data-overlay="1">
    <div class="background-image-holder">
        <img alt="background" src="assets/img/drone-2.jpg" />
    </div>
    <div class="container pos-vertical-center">
        <div class="row">
            <div class="col-md-8">
            </div>
            <div class="col-md-4">
                <div class="switchable__text">
                    <h2>A New Perspective</h2>
                    <p class="lead">
                        Elevate the production of your next advertisement, trailer or real estate listing with professionally captured and edited ariel footage &mdash; Simply describe your concept and let our skilled team get the perfect shot.
                    </p>
                    <hr class="short" />
                    <p>
                        Stack is a CASA registered organisation. All staff are highly trained in safely piloting aircraft in all conditions.
                    </p>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
