<section class="switchable space--lg">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-md-8">
                <p class="lead">
                    Stack is a creative architecture and interior design practice based in central London. We believe that the spaces we inhabit should be beautiful, functional, and playful. To achieve this we work meticulously, considering our projects from every angle, through to the smallest detail. We also believe that good relationships are the key to successful projects, and we pride ourselves on building a strong sense of trust and understanding with our clients.
                </p>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="text-block">
                    <h5>Contact</h5>
                    <p>
                        (+61)3 4826 3672
                        <br />
                        <a href="#">hello@stack.net</a>
                    </p>
                </div>
                <div class="text-block">
                    <h5>Location</h5>
                    <p>
                        364 Malvern Road
                        <br /> Armadale, Victoria
                    </p>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
