<section class="text-center imagebg" data-gradient-bg="#4876BD,#5448BD,#8F48BD,#BD48B1">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-6">
                <div class="cta">
                    <h2 class="h1 type--uppercase">
                        <em>
                            <strong>Come get a taste
                                <br class="hidden-sm hidden-xs"> (&hellip;or two)</strong>
                        </em>
                    </h2>
                    <p class="lead">
                        We offer two free trial group sessions to help you decide if our offering is for you. No obligation, no payment.
                    </p>
                    <a class="btn btn--primary type--uppercase" href="#">
                                    <span class="btn__text">
                                        Redeem Your Sessions Now
                                    </span>
                        <span class="label">Free</span>
                    </a>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
