<section class="space--xs imagebg" data-gradient-bg="#4876BD,#5448BD,#8F48BD,#BD48B1">
    <div class="container">
        <div class="row cta cta--horizontal text-center-xs">
            <div class="col-md-4">
                <h4>Build your site now</h4>
            </div>
            <div class="col-md-5">
                <p class="lead">
                    Themeforest's most popular HTML page builder
                </p>
            </div>
            <div class="col-md-3 text-right text-center-xs">
                <a class="btn btn--primary type--uppercase" href="#">
                    <span class="btn__text">Purchase Stack</span>
                </a>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
