<section class="text-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <div class="cta">
                    <h2>Purchase Stack now and get lifetime free content updates</h2>
                    <p class="lead">
                        Each purchase of Stack comes with six months free support &mdash; and a lifetime of free content and bug-fix updates.
                    </p>
                    <a class="btn btn--primary type--uppercase" href="#">
                                    <span class="btn__text">
                                        Purchase on Envato
                                    </span>
                        <span class="label">$19 USD</span>
                    </a>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
