<section class="cta cta-4 space--xxs unpad--bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <hr>
                <span class="label label--inline">Sale</span>
                <span>Recieve lifetime free content and bugfix updates when you
                                <a href="#">purchase Stack</a> today</span>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
