<section id="showreel" class="cover height-100 text-center imagebg parallax" data-overlay="1">
    <div class="background-image-holder">
        <img alt="background" src="assets/img/drone-4.jpg" />
    </div>
    <div class="container pos-vertical-center">
        <div class="row">
            <div class="col-md-12">
                <h1>Take to the skies.</h1>
                <div class="modal-instance block">
                    <div class="video-play-icon modal-trigger"></div>
                    <div class="modal-container">
                        <div class="modal-content bg-dark" data-width="60%" data-height="60%">
                            <iframe data-src="https://www.youtube.com/embed/6p45ooZOOPo?autoplay=1" allowfullscreen="allowfullscreen"></iframe>
                        </div>
                        <!--end of modal-content-->
                    </div>
                    <!--end of modal-container-->
                </div>
                <!--end of modal instance-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
