<section class="text-center bg--dark unpad--bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8">
                <span class="h1">High-end design. Entry-level price.</span>
                <p class="lead">
                    Achieve an elegant, professional look for your website while avoiding the expense of traditional web design &mdash; yours for $18USD.
                </p>
                <a class="btn btn--primary type--uppercase" href="index.html">
                                <span class="btn__text">
                                    View More Demos
                                </span>
                </a>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
    <img alt="Image" src="assets/img/landing-12.jpg" />
</section>

