<section class="cover height-80 imagebg text-center" data-overlay="6">
    <div class="background-image-holder">
        <img alt="background" src="assets/img/education-1.jpg" />
    </div>
    <div class="container pos-vertical-center">
        <div class="row">
            <div class="col-md-6">
                <span class="h1">Customers love Stack's robust and modern design</span>
                <p class="lead">
                    Multiple font and colour scheme options mean that dramatically altering the look of your site is just clicks away.
                </p>
                <div class="modal-instance block">
                    <div class="video-play-icon video-play-icon--sm modal-trigger"></div>
                    <span>
                                    <strong>See Stack in action</strong>&nbsp;&nbsp;&nbsp;104 Seconds</span>
                    <div class="modal-container">
                        <div class="modal-content bg-dark" data-width="60%" data-height="60%">
                            <iframe data-src="https://www.youtube.com/embed/6p45ooZOOPo?autoplay=1" allowfullscreen="allowfullscreen"></iframe>
                        </div>
                        <!--end of modal-content-->
                    </div>
                    <!--end of modal-container-->
                </div>
                <!--end of modal instance-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
