<section class="text-center imagebg" data-overlay="3">
    <div class="background-image-holder">
        <img alt="background" src="assets/img/landing-20.jpg" />
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <div class="cta">
                    <h2 class="h1">Build yours now.</h2>
                    <p class="lead">
                        Each purchase of Stack comes with six months free support &mdash; and a lifetime of free content and bug-fix updates.
                    </p>
                    <a class="btn btn--primary type--uppercase" href="#">
                                    <span class="btn__text">
                                        Purchase on Envato
                                    </span>
                        <span class="label">$18 USD</span>
                    </a>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
