<section class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8">
                <span class="h1">Create smart, responsive websites.</span>
                <p class="lead">
                    Build lean, beautiful websites with a clean and contemporary look to suit a range of purposes &mdash; From product launch to portfolio showcase.
                </p>
                <a class="btn btn--primary type--uppercase" href="#">
                                <span class="btn__text">
                                    Try Builder Now
                                </span>
                </a>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
