<section class="space--xs bg--dark">
    <div class="container">
        <div class="cta cta--horizontal text-center-xs row">
            <div class="col-md-4">
                <h4>Let's build something great</h4>
            </div>
            <div class="col-md-5">
                <p class="lead">
                    Kick it off with our no-obligation project planner
                </p>
            </div>
            <div class="col-md-3 text-right text-center-xs">
                <a class="btn btn--primary type--uppercase" href="#">
                                <span class="btn__text">
                                    Launch Planner
                                </span>
                </a>
            </div>
        </div>
    </div>
    <!--end of container-->
</section>
