<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="feature feature-1 boxed boxed--border">
                    <h5>Mechanical Engineering</h5>
                    <p>
                        Following BEM conventions for readability
                    </p>
                    <a href="#">
                        Learn More
                    </a>
                </div>
                <!--end feature-->
            </div>
            <div class="col-md-4">
                <div class="feature feature-1 boxed boxed--border">
                    <h5>Media &amp; Communications</h5>
                    <p>
                        Following BEM conventions for readability
                    </p>
                    <a href="#">
                        Learn More
                    </a>
                </div>
                <!--end feature-->
            </div>
            <div class="col-md-4">
                <div class="feature feature-1 boxed boxed--border">
                    <h5>Biomedical Engineering</h5>
                    <p>
                        Following BEM conventions for readability
                    </p>
                    <a href="#">
                        Learn More
                    </a>
                </div>
                <!--end feature-->
            </div>
            <div class="col-md-4">
                <div class="feature feature-1 boxed boxed--border">
                    <h5>Psychological Sciences</h5>
                    <p>
                        Following BEM conventions for readability
                    </p>
                    <a href="#">
                        Learn More
                    </a>
                </div>
                <!--end feature-->
            </div>
            <div class="col-md-4">
                <div class="feature feature-1 boxed boxed--border">
                    <h5>Masters of Teaching</h5>
                    <p>
                        Following BEM conventions for readability
                    </p>
                    <a href="#">
                        Learn More
                    </a>
                </div>
                <!--end feature-->
            </div>
            <div class="col-md-4">
                <div class="feature feature-1 boxed boxed--border">
                    <h5>Masters of Psychology</h5>
                    <p>
                        Following BEM conventions for readability
                    </p>
                    <a href="#">
                        Learn More
                    </a>
                </div>
                <!--end feature-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
