<section class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="feature feature-1">
                    <img alt="Image" src="assets/img/landing-16.jpg" />
                    <div class="feature__body boxed boxed--lg boxed--border">
                        <h4>Built With Blocks</h4>
                        <p class="lead">
                            Save time with over 240 carefully styled components designed to showcase your content
                        </p>
                        <a href="#">
                            Learn More
                        </a>
                    </div>
                </div>
                <!--end feature-->
            </div>
            <div class="col-md-4">
                <div class="feature feature-1">
                    <img alt="Image" src="assets/img/landing-17.jpg" />
                    <div class="feature__body boxed boxed--lg boxed--border">
                        <h4>Modern Aesthetic</h4>
                        <p class="lead">
                            Jump start your project with Stack's diverse array of beautiful pre-built templates
                        </p>
                        <a href="#">
                            Learn More
                        </a>
                    </div>
                </div>
                <!--end feature-->
            </div>
            <div class="col-md-4">
                <div class="feature feature-1">
                    <img alt="Image" src="assets/img/landing-18.jpg" />
                    <div class="feature__body boxed boxed--lg boxed--border">
                        <h4>Beautiful Markup</h4>
                        <p class="lead">
                            With fully documented elements pages that help you customize Stack to your needs
                        </p>
                        <a href="#">
                            Learn More
                        </a>
                    </div>
                </div>
                <!--end feature-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
