<section class="bg--secondary">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="feature feature-2 boxed boxed--border">
                    <i class="icon icon-Wizard color--primary"></i>
                    <div class="feature__body">
                        <h5>140+ Styled Pages</h5>
                        <p>
                            Jump start your project with Stack's diverse array of beautiful pre-built templates
                        </p>
                    </div>
                </div>
                <!--end feature-->
            </div>
            <div class="col-md-4">
                <div class="feature feature-2 boxed boxed--border">
                    <i class="icon icon-Clock-Back color--primary"></i>
                    <div class="feature__body">
                        <h5>Time Saving Components</h5>
                        <p>
                            Save time with over 290 carefully styled components designed to showcase your content
                        </p>
                    </div>
                </div>
                <!--end feature-->
            </div>
            <div class="col-md-4">
                <div class="feature feature-2 boxed boxed--border">
                    <i class="icon icon-Duplicate-Window color--primary"></i>
                    <div class="feature__body">
                        <h5>Visual Page Building</h5>
                        <p>
                            Construct mockups or production-ready pages in-browser with Variant Page Builder
                        </p>
                    </div>
                </div>
                <!--end feature-->
            </div>
            <div class="col-md-4">
                <div class="feature feature-2 boxed boxed--border">
                    <i class="icon icon-Coding color--primary"></i>
                    <div class="feature__body">
                        <h5>Clever Markup</h5>
                        <p>
                            With fully documented elements pages that help you customize Stack to your needs
                        </p>
                    </div>
                </div>
                <!--end feature-->
            </div>
            <div class="col-md-4">
                <div class="feature feature-2 boxed boxed--border">
                    <i class="icon icon-Laptop-Phone color--primary"></i>
                    <div class="feature__body">
                        <h5>Responsive Design</h5>
                        <p>
                            Stack scales intuitively for all devices. Delighting your users no matter the screen
                        </p>
                    </div>
                </div>
                <!--end feature-->
            </div>
            <div class="col-md-4">
                <div class="feature feature-2 boxed boxed--border">
                    <i class="icon icon-Life-Jacket color--primary"></i>
                    <div class="feature__body">
                        <h5>Personal Support</h5>
                        <p>
                            Six months of included, premium support with a dedicated support forum
                        </p>
                    </div>
                </div>
                <!--end feature-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
