<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-5">
                <div class="feature feature-1">
                    <img alt="Image" src="assets/img/fitness-3.jpg" />
                    <div class="feature__body boxed boxed--lg boxed--border">
                        <h3 class="type--uppercase">
                            <em>
                                <strong>Strength</strong>
                            </em>
                        </h3>
                        <p class="lead">
                            Our strength training programs focus on dedication, planning and careful practice to maximize results.
                        </p>
                        <a href="#">
                            Learn More
                        </a>
                    </div>
                </div>
                <!--end feature-->
            </div>
            <div class="col-md-6 col-lg-5">
                <div class="feature feature-1">
                    <img alt="Image" src="assets/img/fitness-4.jpg" />
                    <div class="feature__body boxed boxed--lg boxed--border">
                        <h3 class="type--uppercase">
                            <em>
                                <strong>Agility</strong>
                            </em>
                        </h3>
                        <p class="lead">
                            Our team of trained atheletes know what it takes to achieve enduring fitness outcomes for folks of all shapes and sizes.
                        </p>
                        <a href="#">
                            Learn More
                        </a>
                    </div>
                </div>
                <!--end feature-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
