<section class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="text-block">
                    <i class="icon icon--lg icon-Mail-3"></i>
                    <h4>Regular Updates</h4>
                    <p>
                        direct to your inbox
                    </p>
                </div>
                <!--end feature-->
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="text-block">
                    <i class="icon icon--lg icon-Air-Balloon"></i>
                    <h4>Varied Experiences</h4>
                    <p>
                        with all-new additions
                    </p>
                </div>
                <!--end feature-->
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="text-block">
                    <i class="icon icon--lg icon-Bacteria"></i>
                    <h4>Modular System</h4>
                    <p>
                        for maximum flexibility
                    </p>
                </div>
                <!--end feature-->
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="text-block">
                    <i class="icon icon--lg icon-Fingerprint-2"></i>
                    <h4>Personalised Deals</h4>
                    <p>
                        tailored specifically to you
                    </p>
                </div>
                <!--end feature-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
