<section class="height-100 imagebg parallax" data-overlay="3" id="industries">
    <div class="background-image-holder">
        <img alt="background" src="assets/img/drone-3.jpg" />
    </div>
    <div class="container pos-vertical-center">
        <div class="row">
            <div class="col-md-4">
                <div class="feature feature-3 boxed boxed--lg boxed--border text-center">
                    <i class="icon icon--lg icon-Compass-Rose"></i>
                    <h4>Building &amp; Real Estate</h4>
                    <p>
                        From private residential home listings to construction timelapses &mdash; Stack has extensive experience delivering highly-quality property films.
                    </p>
                    <a href="#">
                        Learn More
                    </a>
                </div>
                <!--end feature-->
            </div>
            <div class="col-md-4">
                <div class="feature feature-3 boxed boxed--lg boxed--border text-center">
                    <i class="icon icon--lg icon-Air-Balloon"></i>
                    <h4>Tourism Trailers</h4>
                    <p>
                        Delight potential customers with a thrilling glimpse of your outdoor adventure experience. We go where no 'go-pro' could ever hope to go, yo.
                    </p>
                    <a href="#">
                        Learn More
                    </a>
                </div>
                <!--end feature-->
            </div>
            <div class="col-md-4">
                <div class="feature feature-3 boxed boxed--lg boxed--border text-center">
                    <i class="icon icon--lg icon-Sport-Mode"></i>
                    <h4>Sports Events</h4>
                    <p>
                        Rally your fans and relive the glory from a whole new perspective - Our sporting event films champion the highest quality production values around.
                    </p>
                    <a href="#">
                        Learn More
                    </a>
                </div>
                <!--end feature-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
