<section>
    <div class="container">
        <div class="row">
            <form class="form-horizontal">
                <div class="col-md-3">
                    <label>Keywords</label>
                    <input type="text" placeholder="Cities, Keywords etc." name="where" />
                </div>
                <div class="col-md-3">
                    <label>Check In</label>
                    <input type="text" name="date-check-in" class="datepicker datepicker--fluid" placeholder="Check in date" />
                </div>
                <div class="col-md-3">
                    <label>Check Out</label>
                    <input type="text" name="date-check-out" class="datepicker datepicker--fluid" placeholder="Check out date" />
                </div>
                <div class="col">
                    <label>Guests</label>
                    <div class="input-select input-select--borderless">
                        <select name="guests">
                            <option value="1">1</option>
                            <option value="2" selected="">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="6+">6+</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn--primary">Search</button>
                </div>
            </form>
        </div>
    </div>
</section>
