<section class="cover imagebg height-80 text-center" data-overlay="3">
    <div class="background-image-holder">
        <img alt="background" src="assets/img/tourism-1.jpg" />
    </div>
    <div class="container pos-vertical-center">
        <div class="row">
            <div class="col-md-12">
                <span class="h1 inline-block">Travel deals on</span>
                <span class="h1 inline-block typed-text typed-text--cursor" data-typed-strings="Melbourne laneways,luxe glamping,urban hideaways,foodie tours,outback retreats,river cruising,wildlife safaris"></span>
                <p class="lead">
                    Browse unique travel experiences from over 1,000 expert providers
                </p>
                <div class="boxed boxed--lg bg--white text-left">
                    <form class="form--horizontal row m-0">
                        <div class="col-md-6 col-lg-3">
                            <input type="text" name="location" placeholder="Destination" />
                        </div>
                        <div class="col-md-3">
                            <input type="text" name="location" placeholder="Location" />
                        </div>
                        <div class="col-md-4">
                            <div class="input-select">
                                <select>
                                    <option selected="" value="Default">Select a discipline</option>
                                    <option value="design">Design</option>
                                    <option value="development">Development</option>
                                    <option value="management">Management</option>
                                    <option value="marketing">Marketing</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button type="submit" class="btn btn--primary type--uppercase">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
