<section>
    <div class="container">
        <div class="gallery-1 row">
            <div class="col-md-6">
                <div class="gallery__image">
                    <a href="assets/img/cowork-2.jpg" data-lightbox="Gallery 1">
                        <div class="background-image-holder">
                            <img alt="Image" src="assets/img/cowork-2.jpg" />
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="gallery__image">
                    <a href="assets/img/cowork-6.jpg" data-lightbox="Gallery 1">
                        <div class="background-image-holder">
                            <img alt="Image" src="assets/img/cowork-6.jpg" />
                        </div>
                    </a>
                </div>
                <div class="gallery__image">
                    <a href="assets/img/knowledge-1.jpg" data-lightbox="Gallery 1">
                        <div class="background-image-holder">
                            <img alt="Image" src="assets/img/knowledge-1.jpg" />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--end of container-->
</section>
