<section class="cover height-100 imagebg text-center" data-overlay="2" id="home">
    <div class="background-image-holder">
        <img alt="background" src="assets/img/fitness-1.jpg" />
    </div>
    <div class="container pos-vertical-center">
        <div class="row">
            <div class="col-md-12">
                <h1 class="h1--large type--uppercase">
                    <em>
                        <strong>Ready, Set, Sweat.</strong>
                    </em>
                </h1>
                <p class="lead">Physical and dietary mentorship for dedicated challenge seekers.</p>
            </div>
        </div>
    </div>
</section>
