<section class="bg--primary-1 text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-9 col-12">
                <div class="mt--2">
                    <h1>
                        Streamline your workflow with
                        <br class="hidden-sm hidden-xs" /> Stack + Variant Page Builder
                    </h1>
                    <!--<img alt="headline" src="img/headline-1.png" />
        <br>-->
                    <p class="lead">
                        Build lean, beautiful websites with over 290 customisable
                        <br class="hidden-sm hidden-xs" /> interface blocks and live page building with Variant.
                    </p>
                    <a class="btn btn--primary type--uppercase" href="#">
                                    <span class="btn__text">
                                        Launch The Builder
                                    </span>
                    </a>
                    <span class="block type--fine-print">or
                                    <a href="index.html">view the demos</a>
                                </span>
                </div>
            </div>
        </div>
    </div>
    <!--end of container-->
</section>
