<section class="space--md">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-9">
                            <span class="h3">
                                An award-winning public relations firm building enduring consumer relationships for bold brands. We connect research, strategy and design to deliver memorable brand experiences.
                            </span>
                <a href="#">Learn More</a>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
