<section class="text-center space--md">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-block">
                    <a href="index.html">
                        <img alt="Image" src="assets/img/photography-logo-1.png" class="image--sm" />
                    </a>
                </div>
                <h6 class="type--uppercase">Freelance Photography &amp; Design</h6>
                <ul class="social-list list-inline">
                    <li>
                        <a href="#">
                            <i class="socicon socicon-flickr icon icon--xs"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="socicon socicon-instagram icon icon--xs"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="socicon socicon-dribbble icon icon--xs"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="socicon socicon-twitter icon icon--xs"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
