<section class="cover imagebg videobg height-100 text-center">
    <video autoplay loop muted>
        <source src="assets/video/video.webm" type="video/webm">
        <source src="assets/video/video.mp4" type="video/mp4">
        <source src="assets/video/video.ogv" type="video/ogv">
    </video>
    <div class="background-image-holder">
        <img alt="image" src="assets/img/hero-1.jpg" />
    </div>
    <div class="container pos-vertical-center">
        <div class="row">
            <div class="col-lg-12">
                <h1>We deliver engaging, diverse digital and physical experiences to users for clients large and small.</h1>
            </div>
        </div>
    </div>
    <div class="pos-bottom pos-absolute col-12 text-center">
        <a class="inner-link btn type--uppercase" href="#work">
                        <span class="btn__text">
                            View selected work
                        </span>
        </a>
    </div>
</section>
