<section class="cover imagebg height-100 text-center parallax" data-overlay="3">
    <div class="background-image-holder">
        <img alt="background" src="assets/img/work-3.jpg" />
    </div>
    <div class="container pos-vertical-center">
        <div class="row">
            <div class="col-md-12">
                <h1>Stack is an award-winning architecture practice providing thoughtfully crafted work for clients seeking sustainable and well-concepted building design.</h1>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
    <div class="pos-absolute pos-bottom col-12">
        <div class="container">
            <div class="row">
                <div class="col-12 text-left">
                    <div class="text-block">
                        <h5>Bank Street Townhouses</h5>
                        <span>Flemington, Victoria</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
