<section id="home" class="imagebg parallax height-100 text-center" data-overlay="1">
    <div class="background-image-holder">
        <img alt="background" src="assets/img/drone-1.jpg" />
    </div>
    <div class="container pos-vertical-center">
        <div class="row">
            <div class="col-md-6 col-lg-7">
                <img alt="Image" src="assets/img/headline-4.png" />
                <p class="lead">
                    High-quality drone photography and videography shot by
                    <br class="hidden-xs hidden-sm" /> professionals at your location.
                </p>
                <a class="btn btn--primary type--uppercase" href="#">
                                <span class="btn__text">
                                    Book A Consultation
                                </span>
                </a>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
