<section class="cover height-90 imagebg text-center" data-overlay="2" id="home">
    <div class="background-image-holder">
        <img alt="background" src="assets/img/landing-10.jpg" />
    </div>
    <div class="container pos-vertical-center">
        <div class="row">
            <div class="col-md-8">
                <img alt="Image" class="unmarg--bottom" src="assets/img/headline-1.png" />
                <h3>
                    Streamline your workflow with Stack.
                </h3>
                <a class="btn btn--primary type--uppercase" href="#">
                                <span class="btn__text">
                                    View The Demos
                                </span>
                </a>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
