<section class="cover height-90 imagebg switchable switchable--switch" data-overlay="1">
    <div class="background-image-holder">
        <img alt="background" src="assets/img/conference-1.jpg" />
    </div>
    <div class="container pos-vertical-center">
        <div class="row justify-content-around">
            <div class="col-lg-5 col-md-7">
                <div class="switchable__text">
                    <h1>
                        A conference for modern marketing
                    </h1>
                    <p class="lead">
                        Join us from October 2nd &mdash; 3rd for insightful discussion on all things marketing
                    </p>
                    <a class="btn btn--primary type--uppercase" href="index.html">
                                    <span class="btn__text">
                                        Reserve Your Space
                                    </span>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-4 col-12">
                <div class="video-cover border--round box-shadow-wide">
                    <div class="background-image-holder">
                        <img alt="image" src="assets/img/conference-2.jpg" />
                    </div>
                    <div class="video-play-icon"></div>
                    <iframe data-src="https://www.youtube.com/embed/6p45ooZOOPo?autoplay=1" allowfullscreen="allowfullscreen"></iframe>
                </div>
                <!--end video cover-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
