<section class="cover cover-fullscreen text-center height-100 imagebg parallax" data-overlay="3">
    <div class="background-image-holder">
        <img alt="background" src="assets/img/music-1.jpg" />
    </div>
    <div class="container pos-vertical-center">
        <div class="row">
            <div class="col-md-10 col-lg-8">
                <h1 class="type--uppercase h1--large">Marcus Simmons</h1>
                <p class="lead">
                    New EP "Stacked Up" out now on Dial Recordings
                </p>
                <a class="btn btn--lg type--uppercase" href="#">
                                <span class="btn__text">
                                    Buy On Beatport
                                </span>
                </a>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
