<section class="cover cover-features imagebg space--lg" data-scrim-bottom="9">
    <div class="background-image-holder">
        <img alt="background" src="assets/img/construction-1.jpg" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-lg-7">
                <h1>
                    Australia's Fastest Growing Construction Company
                </h1>
                <p class="lead">
                    Stack partner with ambitious property development firms to manage large-scale construction projects from initial concept through final-build.
                </p>
                <a class="btn btn--primary type--uppercase" href="#">
                                <span class="btn__text">
                                    View Our Portfolio
                                </span>
                </a>
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-md-4">
                <div class="feature feature--featured feature-1 boxed boxed--border bg--white">
                    <h5>Half Year Results 2017</h5>
                    <p>
                        28 February, 2017
                    </p>
                    <a href="#">
                        Read Story
                    </a>
                    <span class="label">New</span>
                </div>
                <!--end feature-->
            </div>
            <div class="col-md-4">
                <div class="feature feature-1 boxed boxed--border bg--white">
                    <h5>Awarded HSBC Contract</h5>
                    <p>
                        24 January, 2017
                    </p>
                    <a href="#">
                        Read Story
                    </a>
                </div>
                <!--end feature-->
            </div>
            <div class="col-md-4">
                <div class="feature feature-1 boxed boxed--border bg--white">
                    <h5>Environmental Statement</h5>
                    <p>
                        10 January, 2017
                    </p>
                    <a href="#">
                        Read Story
                    </a>
                </div>
                <!--end feature-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
