<section class="page-navigator">
    <ul>
        <li>
            <a href="#home" class="inner-link" data-title="Home"></a>
        </li>
        <li>
            <a href="#about" class="inner-link" data-title="About"></a>
        </li>
        <li>
            <a href="#industries" class="inner-link" data-title="Industries"></a>
        </li>
        <li>
            <a href="#showreel" class="inner-link" data-title="Showreel"></a>
        </li>
        <li>
            <a href="#contact" class="inner-link" data-title="Contact"></a>
        </li>
    </ul>
</section>
