<section class="page-navigator">
    <ul>
        <li>
            <a href="#home" class="inner-link" data-title="Home"></a>
        </li>
        <li>
            <a href="#story" class="inner-link" data-title="Story"></a>
        </li>
        <li>
            <a href="#ceremony" class="inner-link" data-title="Ceremony"></a>
        </li>
        <li>
            <a href="#couple" class="inner-link" data-title="The Couple"></a>
        </li>
        <li>
            <a href="#reception" class="inner-link" data-title="Reception"></a>
        </li>
        <li>
            <a href="#rsvp" class="inner-link" data-title="RSVP"></a>
        </li>
    </ul>
</section>
