<section id="story" class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8">
                <h2>Please join us this spring on The Mornington Peninsula to celebrate our marriage</h2>
                <p class="lead">
                    We met in 2003, at a music festival in Brussels. We hit it off immediately, sharing our love of cooking and classical music. We had a magical time together in Spain during Lucas' first year at med school, and we both knew it was time. We were engaged in June 2015, and now it's finally time to tie the knot and begin the next chapter of our lives as husband and wife!
                </p>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
