<section class="switchable switchable--switch bg--secondary">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-md-6 col-lg-5">
                <h2>Your ticket to invaluable insight and experience</h2>
                <p class="lead">
                    Our customers love the comfort that comes with six-months of included support. Our dedicated support forum makes interacting with us hassle-free and efficient.
                </p>
                <div class="testimonial testimonial-2">
                    <div class="testimonial__body boxed boxed--border">
                        <p>
                            The ticket was worth it alone for the fabulous connections I made, the speakers were fantastic &mdash; buy on sight!
                        </p>
                    </div>
                    <div class="testimonial__image">
                        <img alt="Image" src="assets/img/avatar-round-1.png" />
                        <h5>Gabby V.</h5>
                        <span>Sydney, AU</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-lg-pull-1 col-12">
                <div class="pricing pricing-1 boxed boxed--lg boxed--border">
                    <h3>All-Access</h3>
                    <span class="h2">
                                    <strong>$149.99</strong>
                                </span>
                    <span class="type--fine-print">AUD, Inlcudes GST.</span>
                    <span class="label">Value</span>
                    <hr>
                    <ul>
                        <li>
                            <span class="checkmark bg--primary-1"></span>
                            <span>24/7 Phone Support</span>
                        </li>
                        <li>
                            <span class="checkmark bg--primary-1"></span>
                            <span>Unlimited Skips</span>
                        </li>
                        <li>
                            <span class="checkmark bg--primary-1"></span>
                            <span>Import CSV Data</span>
                        </li>
                        <li>
                            <span class="checkmark bg--primary-1"></span>
                            <span>Automatic Transfer</span>
                        </li>
                        <li>
                            <span class="checkmark bg--primary-1"></span>
                            <span>20GB Storage</span>
                        </li>
                    </ul>
                    <a class="btn btn--primary type--uppercase" href="#">
                                    <span class="btn__text">
                                        Purchase Ticket
                                    </span>
                    </a>
                </div>
                <!--end of pricing-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
