<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="pricing pricing-1 boxed boxed--border boxed--lg text-center">
                    <h4>Daily Visit</h4>
                    <span class="h1">
                                    <span class="pricing__dollar">$</span>19</span>
                    <p>
                        The daily visit is for those who are testing the coworking waters and out-of-towners in Melbourne.
                    </p>
                    <a class="btn btn--primary" href="#">
                                    <span class="btn__text">
                                        Purchase Now
                                    </span>
                    </a>
                </div>
                <!--end pricing-->
            </div>
            <div class="col-md-4">
                <div class="pricing pricing-1 boxed boxed--border boxed--lg text-center">
                    <h4>Weekly Access</h4>
                    <span class="h1">
                                    <span class="pricing__dollar">$</span>79</span>
                    <p>
                        Allows you access to the coworking space 7 days a week between the hours of 9am - 5pm with all facilities.
                    </p>
                    <span class="label">Value</span>
                    <a class="btn btn--primary-1" href="#">
                                    <span class="btn__text">
                                        Purchase Now
                                    </span>
                    </a>
                </div>
                <!--end pricing-->
            </div>
            <div class="col-md-4">
                <div class="pricing pricing-1 boxed boxed--border boxed--lg text-center">
                    <h4>Anytime Weekly</h4>
                    <span class="h1">
                                    <span class="pricing__dollar">$</span>99</span>
                    <p>
                        Your own personal key to the coworking space for you to use anytime you like &mdash; all facilities.
                    </p>
                    <a class="btn btn--primary" href="#">
                                    <span class="btn__text">
                                        Purchase Now
                                    </span>
                    </a>
                </div>
                <!--end pricing-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
