<section class="unpad">
    <div class="slider" data-arrows="true">
        <ul class="slides slides--gapless">
            <li class="col-md-6 col-12">
                <a class="block" href="#">
                    <article class="imagebg" data-scrim-bottom="8">
                        <span class="label">Most Read</span>
                        <div class="background-image-holder">
                            <img alt="background" src="assets/img/landing-11.jpg" />
                        </div>
                        <div class="article__title">
                            <span>May 15th 2016</span>
                            <h4>Our monthly roundup of Unplash's finest photographs</h4>
                        </div>
                    </article>
                </a>
            </li>
            <li class="col-md-6 col-12">
                <a class="block" href="#">
                    <article class="imagebg" data-scrim-bottom="8">
                        <div class="background-image-holder">
                            <img alt="background" src="assets/img/inner-5.jpg" />
                        </div>
                        <div class="article__title">
                            <span>May 13th 2016</span>
                            <h4>These magazines still deliver something the web can't</h4>
                        </div>
                    </article>
                </a>
            </li>
            <li class="col-md-6 col-12">
                <a class="block" href="#">
                    <article class="imagebg" data-scrim-bottom="8">
                        <div class="background-image-holder">
                            <img alt="background" src="assets/img/recruitment-4.jpg" />
                        </div>
                        <div class="article__title">
                            <span>May 4th 2016</span>
                            <h4>How turning their attention to design saved this startup</h4>
                        </div>
                    </article>
                </a>
            </li>
            <li class="col-md-6 col-12">
                <a class="block" href="#">
                    <article class="imagebg" data-scrim-bottom="8">
                        <div class="background-image-holder">
                            <img alt="background" src="assets/img/hero-3.jpg" />
                        </div>
                        <div class="article__title">
                            <span>May 9th 2016</span>
                            <h4>Getting your e-commerce product photography right</h4>
                        </div>
                    </article>
                </a>
            </li>
        </ul>
    </div>
</section>
