<section class="switchable switchable--switch space--md">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-md-6 col-lg-5">
                <span class="h1">Ideal for design conscious startups.</span>
                <p class="lead">Start building a beautiful site for your startup &mdash;
                    <br class="hidden-xs hidden-sm" /> right in the comfort of your browser.</p>
                <hr class="short">
                <form>
                    <div class="row">
                        <div class="col-12">
                            <input type="email" name="Email Address" placeholder="Email Address" />
                        </div>
                        <div class="col-12">
                            <input type="password" name="Password" placeholder="Password" />
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn--primary type--uppercase">Create Account</button>
                        </div>
                        <div class="col-12">
                                        <span class="type--fine-print">By signing up, you agree to the
                                            <a href="#">Terms of Service</a>
                                        </span>
                        </div>
                    </div>
                    <!--end row-->
                </form>
            </div>
            <div class="col-md-6 col-lg-5">
                <img alt="Image" class="border--round box-shadow-wide" src="assets/img/software-5.jpg" />
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
