<section class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="feature feature-8">
                    <img alt="Image" src="assets/img/avatar-round-1.png" />
                    <h5>Vera Duncan</h5>
                    <span>Founder &amp; CEO</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature feature-8">
                    <img alt="Image" src="assets/img/avatar-round-3.png" />
                    <h5>Zach Smith</h5>
                    <span>Co-Founder &amp; CTO</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature feature-8">
                    <img alt="Image" src="assets/img/avatar-round-4.png" />
                    <h5>Cameron Nguyen</h5>
                    <span>Lead Designer</span>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
