<section class="text-center bg--secondary">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10">
                <div class="slider" data-paging="true">
                    <ul class="slides">
                        <li>
                            <div class="testimonial">
                                <img alt="Image" src="assets/img/avatar-round-3.png" class="image--sm" />
                                <span class="h3">
                                                &ldquo;There's a feeling of structure that you can't find in other templates &mdash; Stack has become my default template.&rdquo;
                                            </span>
                                <h5>Sam Briggs</h5>
                                <span>Envato Customer</span>
                            </div>
                        </li>
                        <li>
                            <div class="testimonial">
                                <img alt="Image" src="assets/img/avatar-round-4.png" class="image--sm" />
                                <span class="h3">
                                                &ldquo;Variant has been a massive plus for my workflow &mdash; I can now get live mockups out in a matter of hours, my clients really love it.&rdquo;
                                            </span>
                                <h5>Rob Vasquez</h5>
                                <span>Interface Designer &mdash; Yoke</span>
                            </div>
                        </li>
                        <li>
                            <div class="testimonial">
                                <img alt="Image" src="assets/img/avatar-round-1.png" class="image--sm" />
                                <span class="h3">
                                                &ldquo;We’ve been using Stack to prototype designs quickly and efficiently. Needless to say we’re hugely impressed by the style and value.&rdquo;
                                            </span>
                                <h5>Maguerite Holland</h5>
                                <span>Interface Designer &mdash; Yoke</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
