<section class="text-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <h1 class="type--uppercase">
                    <em>
                        <strong>Goodbye,
                            <br class="hidden-sm hidden-xs" /> Tired Excuses.</strong>
                    </em>
                </h1>
                <p class="lead">
                    We're about holistic and enduring fitness &mdash; Improving health and wellbeing not through worn out slogans, but considered physical and dietary training. Our goal is your betterment, what's yours?
                </p>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
