<section class="switchable feature-large bg--secondary">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-md-6">
                <img alt="Image" class="border--round" src="assets/img/work-3.jpg" />
            </div>
            <div class="col-md-6 col-lg-5">
                <div class="switchable__text">
                    <h2>Helping M&amp;D Stairs step-up their digital presence</h2>
                    <p class="lead">
                        We delivered a showcase event for this renowned Melbourne design company that emphaised their heritage and craftsmanship.
                    </p>
                    <a href="#">See Case Study &raquo;</a>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
