<section class="switchable feature-large bg--secondary">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-md-6">
                <img alt="Image" class="border--round" src="assets/img/work-6.jpg" />
            </div>
            <div class="col-md-6 col-lg-5">
                <div class="switchable__text">
                    <h2>Stack helped Nike Active engage their audience</h2>
                    <p class="lead">
                        We worked alongside the team at Nike Active to deliver an attention-grabbing campaign that permeated social media and delivered an increased up-tick in user involvement.
                    </p>
                    <a href="#">See Case Study &raquo;</a>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
