<section class="switchable feature-large bg--secondary">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-6 col-12">
                <div class="video-cover border--round box-shadow-wide">
                    <div class="background-image-holder">
                        <img alt="image" src="assets/img/inner-6.jpg" />
                    </div>
                    <div class="video-play-icon"></div>
                    <iframe data-src="https://www.youtube.com/embed/6p45ooZOOPo?autoplay=1" allowfullscreen="allowfullscreen"></iframe>
                </div>
                <!--end video cover-->
            </div>
            <div class="col-md-6 col-lg-5">
                <div class="switchable__text">
                    <h2>Build your site in-browser with modular interface blocks</h2>
                    <p class="lead">
                        The included Variant Page Builder allows you to quickly assemble and customize pages in the comfort of your browser. Variant outputs pure HTML &mdash; No junk styles or classes.
                    </p>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
