<section class="text-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <h1 class="type--uppercase">
                    <em>
                        <strong>Hello,
                            <br class="hidden-sm hidden-xs" /> Strength &amp; Agility.</strong>
                    </em>
                </h1>
                <p class="lead">
                    Offering two main training focusses &mdash; our fitness professionals work alongside small groups to routinely set and smash goals.
                </p>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

