<section class="switchable feature-large">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-md-6">
                <img alt="Image" class="border--round" src="assets/img/device-6.png" />
            </div>
            <div class="col-md-6 col-lg-5">
                <div class="switchable__text">
                    <h2>Build and edit pages in the comfort of your browser</h2>
                    <p class="lead">
                        Variant's live front-end page building means creating attractive layouts it easy for everyone.
                    </p>
                    <a href="#" target="_blank">Try Variant Page Builder now &nearr;</a>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
