<section id="rsvp" class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8">
                <h2>Say you'll be there!</h2>
                <p class="lead">
                    Please RSVP by August 30th at the latest. If you'd rather let us know by phone,
                    <br class="hidden-xs hidden-sm" /> give Mira or Lucas a call to confirm.
                </p>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
