<section class="text-center space--lg parallax imagebg" data-overlay="3">
    <div class="background-image-holder">
        <img alt="background" src="assets/img/music-3.jpg" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-lg-7">
                <div class="tweets-feed slider text-center" data-feed-name="mrareweb" data-amount="5" data-paging="true"></div>
            </div>
        </div>
        <!--end row-->
    </div>
    <!--end of container-->
</section>
