<section class="text-center space--lg imagebg parallax" data-overlay="3">
    <div class="background-image-holder">
        <img alt="background" src="assets/img/music-2.jpg" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8">
                <div class="heading-block">
                    <h3 class="type--uppercase">Recent Music</h3>
                </div>
                <iframe class="box-shadow-wide" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/267280943&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
                <a class="btn btn--icon type--uppercase mt--2" href="#">
                                <span class="btn__text">
                                    <i class="socicon-soundcloud"></i>
                                    More On Soundcloud
                                </span>
                </a>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
