<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stack</title>
    <link rel="stylesheet" href="{{root}}assets/vendors/css/bootstrap.css">
    <link rel="stylesheet" href="{{root}}assets/vendors/css/stack-interface.css">
    <link rel="stylesheet" href="{{root}}assets/vendors/css/socicon.css">
    <link rel="stylesheet" href="{{root}}assets/vendors/css/lightbox.css">
    <link rel="stylesheet" href="{{root}}assets/vendors/css/flickity.css">
    <link rel="stylesheet" href="{{root}}assets/vendors/css/iconsmind.css">
    <link rel="stylesheet" href="{{root}}assets/css/theme.css">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700" rel="stylesheet">

  </head>
  <body class="boxed-layout">

    {{> body}}

    <script src="{{root}}assets/vendors/js/jquery-3.1.1.min.js"></script>
    <script src="{{root}}assets/vendors/js/flickity.min.js"></script>
    <script src="{{root}}assets/vendors/js/easypiechart.min.js"></script>
    <script src="{{root}}assets/vendors/js/typed.min.js"></script>
    <script src="{{root}}assets/vendors/js/parallax.js"></script>
    <script src="{{root}}assets/vendors/js/datepicker.js"></script>
    <script src="{{root}}assets/vendors/js/isotope.min.js"></script>
    <script src="{{root}}assets/vendors/js/ytplayer.min.js"></script>
    <script src="{{root}}assets/vendors/js/lightbox.min.js"></script>
    <script src="{{root}}assets/vendors/js/granim.min.js"></script>
    <script src="{{root}}assets/vendors/js/countdown.min.js"></script>
    <script src="{{root}}assets/vendors/js/twitterfetcher.min.js"></script>
    <script src="{{root}}assets/vendors/js/spectragram.min.js"></script>
    <script src="{{root}}assets/vendors/js/smooth-scroll.min.js"></script>
    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>